<h1>DOWN GOES ANDERSON</h1>
<h2>August 5, 2023 - Progressive Field, Cleveland</h2>

<img src="/img/anderson-punch.jpeg" alt="Before impact" />
<p>Tim Anderson made a critical mistake on August 5, 2023. After illegally
  moving Brayan Rocchio's hand off second base the day before, Anderson decided
  to stand over José Ramírez after a hard slide into second. Ramírez had enough.</p>

<p>Anderson threw first and missed.</p>
<p>Guess who didn't.</p>

<img src="/img/anderson-punch.gif" alt="DOWN GOES ANDERSON!" />

<p><strong>DOWN GOES ANDERSON! DOWN GOES ANDERSON!</strong>
  - Tom Hamilton's WTAM call</p>

<img
  src="/img/anderson-punch-slomo.gif"
  alt="DOWN GOES ANDERSON! in glorious slow motion"
/>

<h2>Post-punch Stats</h2>

<p><strong>Tim Anderson BEFORE being rocked by José Ramírez:</strong></p>
<ul>
  <li>.283 BA (3482 AB)</li>
  <li>.740 OPS</li>
  <li>98 HR</li>
  <li>332 RBI</li>
</ul>

<p><strong>Tim Anderson AFTER being rocked by José Ramírez:</strong></p>
<ul>
  <li>.223 BA (457 AB)</li>
  <li>.511 OPS</li>
  <li>0 HR</li>
  <li>18 RBI</li>
</ul>

<p><em>Never homered after that day…</em></p>

<p>DOWN GOES ANDERSON!!!</p>
