<img src="/img/jram-hero.jpeg" alt="José Ramírez smoothest swing in CLE" />

<h1>José Ramírez</h1>
<img src="/img/jram-headshot.jpg" alt="Mr Lapara in all his glory" />

<p>Switch-hitting 3B. 6x All-Star. 4x Silver Slugger. GOAT</p>

<h2>J-Ram Facts Every Friday!!!</h2>
<ul>
  <li>Career .279 BA / .857 OPS with 285 HR, 949 RBI, 287 SB</li>
  <li>2025: Third career 30/30 season (30 HR, 44 SB)</li>
  <li>Reached 3,000 total bases in 2025</li>
  <li>Broke Guardians' multi-homer record</li>
  <li>6x Cleveland Heart and Hustle Award winner</li>
  <li>Likes Mario Kart and the beach</li>
</ul>

<h2>Best Highlights!!!</h2>

<img src="/img/jram-highlight-1.webp" alt="Exciting slide" />
<p>Elite base stealer and base runner - 287 career stolen bases</p>

<img src="/img/jram-highlight-2.gif" alt="Flips his bat after hitting a nuke" />
<p>Power and speed</p>

<img src="/img/jram-hbp.gif" alt="Hit by pitch :(" />
<p>Me during finals week</p>

<img src="/img/jram-champagne.gif" alt="Celebration" />
<p>When the program compiles on first try (I don't know about the million bugs)</p>

<p><em>Great guy to have on the team and in Cleveland. (And the coolest man of all time!!!)</em></p>