body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    max-width: 760px;
    margin: 2rem auto;
    padding: 0 1rem;
    line-height: 1.6
}

h1,
h2 {
    color: #0C2340;
}

header,
nav,
main,
footer {
    margin-bottom: 1rem
}

header {
    text-align: center;
    background-color: #E31937;
    padding: 1rem;
    margin-bottom: 2rem;
}

nav a {
    margin-right: .75rem;
    color: #0C2340;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #E31937
}

img {
    max-width: 100%;
    height: auto
}

.card {
    padding: 1rem;
    /* border: 1px solid #ddd; */
    border: 2px solid #E31937;
    border-radius: 8px;
    background-color: white
}